* {
    margin: 0;
    padding: 0;
}

nav,
footer {
    background-color: #557174;
}

.product-list {
    margin-top: 50px;
    height: 700px;
}

.menu {
    padding: 10px;
    background-color: white;
    box-shadow: 1px 1px 3px gray;
    border-radius: 5px;
}

.menu ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-left: -50px;
    align-items: center;
}

.menu>ul>li>a {
    text-decoration: none;
    color: rgb(91, 91, 91);
}


iframe {
    margin-top: 20px;
    width: 100%;
    height: 80%;
    box-shadow: 1px 1px 3px gray;
    border-radius: 5px;
}

footer {
    padding: 30px;
    color: white;
}


@media only screen and (max-width: 768px) {
    .product-list {
        flex-direction: column;
        height: 1000px;
    }

    iframe {
        height: 80%;
    }
}