* {
    margin: 0;
    padding: 0;
}

nav,
footer {
    background-color: #557174;
}

.product-list {
    margin-top: 50px;
    height: 600px;
    display: flex;
    justify-content: space-evenly;
    gap: 12px;
}

.sidebar {
    background-color: white;
    padding: 25px;
    height: 300px;
    box-shadow: 1px 1px 3px gray;
    border-radius: 5px;
}

.sidebar form {
    padding-bottom: 15px;
    margin-bottom: 25px;
    border-bottom: 1px solid lightgray;
}

.sidebar>.menu>ul>li>a {
    text-decoration: none;
    border: 0px;
    color: rgb(91, 91, 91);

}

.sidebar>.menu>ul>li {
    margin-bottom: 15px;
}

iframe {
    width: 100%;
    box-shadow: 1px 1px 3px gray;
    border-radius: 5px;
}

footer {
    margin-top: 100px;
    
}



@media only screen and (max-width: 768px) {    
    .product-list {    
        flex-direction: column;
        height: 1000px;
    }

    iframe {
        height: 100%;
    }
}